doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1')
		title=(title ? title : 'Filmreel')
		link(rel='stylesheet', href='/frontend/css/style.css')
		link(rel='stylesheet', href='/frontend/css/login.css')
	body
		.container
			header(class='box header')
				img(src='/filmreel_logo.png')
			.content
				block content
