doctype html
html
  head
    title=(title ? title : 'TDS')
    link(rel='stylesheet', href='/frontend/css/style.css')
  body
    ul
      li(class=(title == 'Members' ? 'active' : ''))
        a(href='/') Members
      if !user
        li
          a(href='/auth/register') Register
        li
          a(href='/auth/login') Sign in
      if user
        li
          a(href='/auth/logout') Sign out
      
    .notifications
      if errors
        ul
          each error in errors
            li.alert.danger #{error.msg}
      != messages()
    .content
      block content
