html, body, ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.7em;
}

li {
	list-style: none;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

#header {
	position: fixed;
	width: 100%;
	height: 55px;
	background: #201e1e;
}

#header-logo {
	float: left;
}

#quick-search {
	width: 100px;
	height: 30px;
	margin-top: 10px;
	border: thin solid #353535;
	background: black;
	color: #868685;
	padding-left: 10px;
}

.content {
	width: 100%;
	margin-top: 55px;
}

.bread-crumbs {
	margin: .5em;
}

@media screen and (min-width: 700px) {
	.content {
		width: 700px; /* don't let content grow wider than 700px */
		margin-left: auto;
		margin-right: auto;
	}
}