html
  head
    title=(title ? title : 'No Title')
    meta(name='viewport' value='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='/frontend/css/flex/style.css')
  body
    .container
      header.box.lime.header
      
      .box.dark_blue
      
      .box.light_blue
        
      .box.green
        
      .box.red
        
      .box.orange
