doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1')

        title=(title ? title : 'WS')
    body
        #app
        script(src='/assets/admin/js/polyfills.b5a6a7367a19088b7729.js')
        script(src='/assets/admin/js/vendor.8e5c2a5c704d662951b0.js')
        script(src='/assets/admin/js/app.c702d4b03a87315eff64.js')

