doctype html
html
head
	title=(title ? title : 'WS')
	meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
	meta(name='viewport' content='width=device-width,initial-scale=1')
	link(rel='stylesheet', href='/admin/css/style.css')
body
	ul
		li(class=(title == 'Members' ? 'active' : ''))
			a(href='/') Members
		if !user
			li
				a(href='/auth/register') Register
			li
				a(href='/auth/login') Sign in
		if user
			li
				a(href='/auth/logout') Sign out
			li
				a(href='/admin/films') Films

	.notifications
		if error
			.alert-error #{error}
		if validation_errors
			ul
				each verror in validation_errors
					li.alert.danger #{verror.msg}
		if success
			.alert-success #{success}

	.content
		block content
