extends ../layout.pug

block content
	h1= title
	form(method='POST' id="film-form" action='/admin/films/update' enctype='multipart/form-data')
		input(type='hidden', name='_csrf' value= csrfToken)
		input(type='hidden' name='id' value= formData.id)
		label(for='title')  Title:
		input#title(type='text', name='title' value= formData.title ? formData.title : '')
		br
		label Year:
		input(type='text', name='year' value= formData.year ? formData.year : '')
		br
		label Duration (in minutes):
		input(type='text', name='duration' value= formData.duration ? formData.duration : '')
		br
		label Category:
		select(name='categories[]' multiple)
			each category in allCategories
				if (formData.categories.indexOf(category.id) > -1 ) 
					option(value= category.id selected)= category.name
				else 
					option(value= category.id )= category.name
		br
		label Poster Image:
		input(type='file', name='poster_image')
		br
		label Description:
		textarea(name='description' )= formData.description ? formData.description : ''
		br
		button(type='submit') Save 
		button(type='button' onclick='deleteFilm(' + formData.id + ')') Delete

		script(src='/admin/js/films/edit.js')
			
	
			
