extends ../layout.pug

block stylesheets
	link(rel="stylesheet", href="/admin/css/films/list.css")
	
block content
	h1 Films

	if films
		ul
			each film in films
				li
					div
						img(src= film.poster_image width='200')
						a(href='/admin/films/'+film.id+'/edit' )= film.title
						small= film.year
						small= film.categories

block scripts
	