extends ../layout.pug

block content
    h1= title
    form(method='POST' action='/admin/webinars/store')
        label(for='title') Webinar title:
        input#title(type='text', name='title')
        button(type='submit') Create
