doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/css/style.css')
    body
        h1= title
        ul
            each category in categories
                li= category.title

        

    